.serv_main-timeline {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.serv_main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.serv_main-timeline .timeline {
    width: 50%;
    padding: 30px 0 0;
    margin: 0 30px 20px 0;
    float: left;
}

.serv_main-timeline .timeline-content {
    color: #333;
    background: linear-gradient(to left bottom, #F1EFF0, #fff);
    min-height: 140px;
    padding: 0 25px 25px 30px;
    border: 2px solid #fff;
    border-radius: 70px;
    display: block;
    position: relative;
}

.serv_main-timeline .timeline-content:hover {
    text-decoration: none;
}

.serv_main-timeline .timeline-icon {
    color: #fff;
    background: linear-gradient(to right, #e97612 49%, #e04a0f 50%);
    font-size: 45px;
    text-align: center;
    line-height: 150px;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: -32px;
    right: -75px;
    z-index: 1;
}

.serv_main-timeline .timeline-icon:before {
    content: "";
    background: #f78d14;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translateX(-50%)translateY(-50%);
    position: absolute;
    width: 72%;
    height: 72%;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.serv_main-timeline .title {
    color: #fff;
    background: linear-gradient(to right, #dd8c22, #d88313);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 40px;
    margin: -22px 0 20px 80px;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);
}

.serv_main-timeline .description {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0 65px 0 0;
}

.serv_main-timeline .timeline:nth-child(even) {
    float: right;
    margin: 0 0 20px 30px;
}

.serv_main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: -75px;
}

.serv_main-timeline .timeline:nth-child(even) .title {
    margin-left: 0;
    margin-right: 80px;
    padding-left: 50px;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
}

.serv_main-timeline .timeline:nth-child(even) .description {
    margin: 0 0 0 65px;
}

.serv_main-timeline .timeline:nth-child(4n+2) .timeline-icon {
    background: linear-gradient(to right, #4daadb 49%, #12ccc0 50%);
}

.serv_main-timeline .timeline:nth-child(4n+2) .timeline-icon:before {
    background: #3EF9EE;
}

.serv_main-timeline .timeline:nth-child(4n+2) .title {
    background: linear-gradient(to right, #10CFCA, #3298C9);
}

.serv_main-timeline .timeline:nth-child(4n+3) .timeline-icon {
    background: linear-gradient(to right, #9C82F0 49%, #7245D3 50%);
}

.serv_main-timeline .timeline:nth-child(4n+3) .timeline-icon:before {
    background: #7359EE;
}

.serv_main-timeline .timeline:nth-child(4n+3) .title {
    background: linear-gradient(to right, #8F54D5, #5025CD);
}

.serv_main-timeline .timeline:nth-child(4n+4) .timeline-icon {
    background: linear-gradient(to right, #bc86db 49%, #9e6bce 50%);
}

.serv_main-timeline .timeline:nth-child(4n+4) .timeline-icon:before {
    background: #9e7ddb;
}

.serv_main-timeline .timeline:nth-child(4n+4) .title {
    background: -webkit-linear-gradient(left, #7b92df, #86a8e7);
    background: -o-linear-gradient(left, #7b92df, #86a8e7);
    background: linear-gradient(to right, #7b92df, #86a8e7);
}

@media screen and (max-width:990px) {
    .serv_main-timeline .timeline .title {
        margin-left: 15px;
    }
    .serv_main-timeline .timeline:nth-child(even) .title {
        margin-right: 15px;
    }
}

@media screen and (max-width:767px) {
    .serv_main-timeline .timeline {
        width: 100%;
    }
    .serv_main-timeline .timeline .timeline-content {
        min-height: auto;
    }
    .serv_main-timeline .timeline .timeline-icon {
        font-size: 35px;
        line-height: 83px;
        height: 80px;
        width: 80px;
        right: auto;
        left: 0;
    }
    .serv_main-timeline .timeline:nth-child(even) .timeline-icon {
        left: 0;
    }
    .serv_main-timeline .timeline .title {
        padding-right: 20px;
        margin-bottom: 30px;
        display: inline-block;
        clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
    }
    .serv_main-timeline .timeline:nth-child(even) .title {
        margin-right: 0;
        margin-left: 15px;
    }
    .serv_main-timeline .timeline .description,
    .serv_main-timeline .timeline:nth-child(even) .description {
        margin: 0;
    }
    .serv_main-timeline .timeline-icon {
        right: -150px;
    }
}

@media screen and (max-width:576px) {
    .icon_btn.navbar.headslider.welcome-container.director-container.testimonal-container .fotter-container .title {
        font-size: 18px;
    }
}